.AppWrapper {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
        "l c r"
        "lm c r"
        "lm f r";
    height: 625px; /*New*/
}
ul  {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.content {
    /* 123 */
    font-size: 2em;
    text-align: center;
    padding-top: 100px;
    /* 123 */   
}
.content{
    grid-area: c;
}
.new_content{
    text-align: center;
    background: rgb(77, 77, 77) url(imgonline-com-ua-Resize-Nerarlyvyg1ctJXM.jpg);
    width: 950px;  /*New*/
    min-height:460px;   /*New*/
    position: absolute; /*New*/
    left: 208px;    /*New*/
    border-radius: 15px;    /*New*/
    color: white;   /*New*/
}
.title_new_content{ /*New*/
    font-size: 50px;
    position: absolute;
    top: 110px;
    left: 110px;
}
.text_new_content{  /*New*/
    font-size: 25px;
    position: absolute;
    top:200px;
    left: 100px;
    width: 450px;

}

/* grid */