.AppWrapper {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
        "l c r"
        "lm c r"
        "lm f r";
    height: 625px; /*New*/
}
ul  {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.left_a {
    color: white;
    font-weight: 600;
}
/*ul li { 

}*/
.li_lefttt{ /*New*/
    text-align: center;
    font-size: 2em;
    border-bottom: 2px dashed rgb(65, 65, 65);
    padding: 10px;
    border-radius: 0px 30px 0px 0px;
}
.li_lefttt:hover{
    background-color: rgb(65, 65, 65);
    transition: 300ms;
    cursor: pointer;
}
/*ul li:hover{
    background-color: rgb(65, 65, 65);
    transition: 300ms;
    cursor: pointer;
}*/
.li_left{
    text-align: center;
    font-size: 2em;
    border-bottom: 2px dashed rgb(65, 65, 65);
    padding: 10px;
}
.li_left:hover{
    background-color: rgb(65, 65, 65);
    transition: 300ms;
    cursor: pointer;
}
.li_leftt{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
.li_leftt:hover{
    background-color: rgb(65, 65, 65);
    transition: 300ms;
    cursor: pointer;
}
.leftMenu{
    grid-area: lm;
    background-color: rgb(37, 37, 37);
    border-radius: 0px 30px 0px 0px;    /*New*/
}

/* grid */