@mixin mess($top){
    position: absolute;
    right: 70px;
    top: $top;
    transition: transform .2s;

    &:hover {
        transform: scale(1.5);
    }
}


.AppWrapper {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
        "l c r"
        "lm c r"
        "lm f r";
    height: 625px; /*New*/
}
ul  {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.rightMenu {
    grid-area: r;
    min-width: 20%;
    background-color: rgb(37, 37, 37);
}
.messend_telega{
@include mess(180px);
}
.messend_vk{
    @include mess(300px);
}
.messend_insta{
    @include mess(420px);
}
.right_menu_opisanie{
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 25px;
    color: white;
}

/* grid */